
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/linedata-banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 1rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}



.icon-bar {
    background-color: black;
}
a{
  font-weight: 700;
  color: black;
}
.menu_item{
  font-weight: 700;
  color: black;
}
.navbar-nav .menu_item a{
  font-weight: 700;
  color: black;
}
.navbar-nav .menu_item a:hover{
  background-color: white;
  border-top: 5px  black;
  border-bottom: 1px ;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: Raleway ;
  width: 100%;
}

.zf-red {
  color: red;
}


/*div.container a.brand {
  background: url("../img/linedata-logo.png") no-repeat scroll 0 10px #000000;
  margin-left: 0;
  padding: 8px 20px 12px 40px;
}

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
}
*/
.pass {
  margin-top: 10px;
}

#login_btn {
  margin-top: 10px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}

.project_type_active {
  color: green;
}

.project_type_closed {
  color: red;
}

.project_type_hold {
  color: grey;
}

.project_name {
  color: red;
  text-align: center;
}
.section_title{
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 36px;
  color: white ;
  background-color: #DD0031;
}
.lifecycle {
  width: 100%;
  /*background-color: grey ;*/
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
.timeline_date{
  color:  red ;
  font-family: Raleway ;
  font-style: bold;
}
.status {
  padding: 20px;
  background: rgba(255,0,0,.5);
  color: black;
  border-radius: 25px;
}
span.glyphicon-user {
    font-size: 3.2em;
}
.list_people {
  padding: 20px;
}

.latest_changes {
  margin-top: 10px;
  padding: 20px;
}

.stats {
  margin-top: 10px;
  padding: 20px;
}
#myChart{
  width :400px ;
  height : 400px ;
}
.latest_journal_entries {
  padding: 20px;
  margin-top: 10px;
}

.related_documents {
  margin-top: 10px;
}
